.side-bar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 10vw;
    margin-bottom: -500000px;
    padding-bottom: 500000px;
    padding-top: 4%;
    border-right: 3px solid black;
    background-color: white;
}

.side-bar * {
    padding-bottom: 20px;
}