.task-card {
    border: 2px solid black;
    border-radius: 13px;
    margin-bottom: 5px;
    width: 60%;
    background-color: var(--powder-blue);

}

.task-card-collapsed {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.collapse-expand-button {
    width: 30px;
    height: auto;
    position: absolute;
}

.task-card-collapsed .collapse-expand-button {
    top: 20%;
    left: 95%;
}

.task-card-full .collapse-expand-button {
    position: absolute;
    top: 2%;
    left: 95%;
}

.task-title-collapsed {
    padding-left: 2%;
    width: 50%;
    overflow: hidden;
    font-weight: 600;
}

.label {
    padding-right: 5px;
}

.property-container-collapsed {
    display: flex;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
}

.priority-container-collapsed {
    width: 20%;
}

.duedate-container-collapsed {
    width: 25%;
}

.property-container-full {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.property-container-full *:first-child {
    padding-right: 10px;
}

.property-container-collapsed *:first-child {
    padding-right: 10px;
}

.task-title-full { 
    font-weight: 600;
    text-align: center;
}

.task-notes {
    resize: none;
    border: 2px solid black;
    border-radius: 13px;
}

.task-card-full {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.task-mark-complete-button {
    align-self: center;
    margin-top: 20px;
}

.invisible {
    display: none;
}